.btn {
  background-color: white;
  color: #ff9900;
  border-radius: 20px;
  padding: 5px 15px;
  font-weight: bold;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.margin-r-20 {
  margin-right: 20px;
}
