.searchbar {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

input {
  width: 100%;
  padding: 15px 25px;
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
}

input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #a6a6a6;
}

.search-icon {
  position: absolute;
  right: 13px;
  width: 22px;
  height: 22px;
}
